*{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    
}

.container{
    width: 100%;
    height: 100vh;
    background-image:url(bg123.jpg) ;
    background-size: cover;
    display: flex;
}


.form-box{
    width: 30%;
    height: 47%;
    position: absolute;
    top: 50%; 
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
}

.form-box h1{
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    color: #4CAF50;
}

.form-box .input-box{
   background: #eaeaea;
   margin: 40px 0;
   border-radius: 3px;
   display:flex;
    align-items: center;
   
}

.form-box .input-box h5{
    margin-left: 10px;
    margin-right: 30px;
    margin-top: 6px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', 'Verdana', 'sans-serif';
    font-size:medium;
}

input{
    width:100%;
    background:transparent;
    border:0;
    outline: 0;
    padding: 18px 15px;
}

.btn-field{
    width:100%;
    display:flex;
    justify-self:space-between;
}

.btn-field button{
    width: 48%;
    background-color: #7bd950;
    color: #fff;
    border: 10;
    padding: 10px 0;
    border-radius: 3px;
    cursor: pointer;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 400;
    margin-top: 20px;
    margin-right: 40px;
}

.remember{
    width: 100%;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    display:flex;
}   



input[type="checkbox"] {
transform: scale(0.6); /* Makes the checkbox 1.5 times bigger */
margin-left: 10px;
}

label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight:100;
    color: #000;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}